* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2rem;
  color: #4b5b53;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: #4b5b53;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  color: #022c17;
}

body {
  background-color: #deebe4;
  font-family: "Times New Roman", Times, serif;
  margin: 3rem 5% 3rem 5%;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: 3rem;
}

nav {
  background-color: #637a6e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  nav > ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-bottom: 10px;
  }

  .menu-container {
    flex-direction: column;
    align-items: center;
  }
}
ul li a {
  text-decoration: none;
  color: #fbfbfb;
  font-weight: bold;
}
ul li a:hover {
  text-decoration: none;
  color: #3e2b2b;
}

section {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
}
.banner {
  width: 100%;
  background-color: rgba(9, 94, 4, 0.2);
  color: #032414;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px solid #4b5b53;
  border-radius: 1rem;
}
#index-figure-section {
  gap: 1rem;
}
#index-figure {
  background-color: rgba(75, 91, 83, 0.2);
  border-radius: 3rem;
  min-height: 530px;
}
.sub-heading {
  text-align: center;
  margin: 0.5rem;
  margin-top: 1rem;
  font-style: italic;
}
.sub-text {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  color: #4b5b53;
}

figcaption li {
  list-style: none;
  color: #4b5b53;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    color: red;
  }
  to {
    opacity: 1;
    color: red;
  }
}
span {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  animation: fadeIn 0.5s infinite alternate linear;
}
#index-image {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  height: 250px;
  border-radius: 50%;
  padding-top: 1rem;
}

figcaption {
  text-align: center;
}
figcaption button {
  background-color: #4b5b53;
  margin-top: 1rem;
}
#index-button {
  padding: 3px;
  color: #4b5b53;
  animation: bookAnimation 1s infinite alternate;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: bold;
  border: 5px solid #4b5b53;
  background-color: #deebe4;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
#hours {
  padding: 3px;
  color: #4b5b53;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  width: 60%;
  display: inline-block;
  text-align: center;
}
#index-button a {
  color: #4b5b53;
  text-decoration: none;
}

footer {
  display: flex;
  background-color: #637a6e;
  margin-top: 5rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  opacity: 0.5;
}
footer div {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
footer div p {
  text-wrap: nowrap;
  color: white;

  margin: 0.5rem;
}
footer img {
  width: 20px;
  height: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
}
.menu-container .section {
  width: 300px;
}
.label {
  display: flex;
}
.label > .name {
  margin-right: 1rem;
  font-size: 1rem;
  color: #4b5b53;
  font-weight: bold;
}
.label > .price {
  font-size: 1rem;
  color: #4b5b53;
  font-weight: bold;
}
.description {
  margin-bottom: 1rem;
  border-top: 1px solid #022c17;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div {
  margin-bottom: 1rem;
}
form label {
  color: #4b5b53;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}
form input {
  color: #4b5b53;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #deebe4;
}

form div fieldset {
  display: inline-block;
  border: none;
  font-size: 1rem;
  color: #4b5b53;
}
form div fieldset input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#fieldset-label {
  color: #4b5b53;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0;
}
#fieldset-label-item {
  color: #4b5b53;
  font-size: 1rem;
}
#book-button {
  padding: 3px;
  color: #4b5b53;
  animation: bookAnimation 1s infinite alternate;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: bold;
  border: 5px solid #4b5b53;
  background-color: #deebe4;
  border-radius: 1rem;
  cursor: pointer;
}

#book:hover {
  background-color: #b5d1c9;
  transform: scale(1.05);
}

#book:active {
  background-color: #91b8a7;
  transform: scale(0.95);
}

@keyframes bookAnimation {
  from {
    background-color: #9db5a9;
  }
  to {
  }
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about div {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-text ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}
.about-text li::before {
  content: "🍋";
  color: #4b5b53;
  font-size: 1.2em;
  margin-right: 8px;
}
.about-text ul li {
  color: #4b5b53;
  font-size: 1.5rem;
}
.about-images {
  margin-top: 5rem;
}
.about div section {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about-figures {
  width: 340px;
  height: auto;
  border-radius: 50%;
  display: block;
}
#about-caption-heading,
#about-caption-text {
  text-align: center;
}
#about-caption-text {
  margin-bottom: 2rem;
}
