h1 {
  font-size: 2rem;
  color: #4b5b53;
}

h2 {
  font-size: 1.5rem;
  color: #4b5b53;
}

p {
  font-size: 1rem;
  color: #022c17;
}

body {
  background-color: #deebe4;
  font-family: "Times New Roman", Times, serif;
  margin: 3rem 5% 3rem 5%;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: 3rem;
}

nav {
  background-color: #637a6e;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  nav > ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-bottom: 10px;
  }
}
ul li a {
  text-decoration: none;
  color: #fbfbfb;
  font-weight: bold;
}
ul li a:hover {
  text-decoration: none;
  color: #3e2b2b;
}

section {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
}
.main-heading {
  text-align: center;
}
.main-heading-text {
  text-align: center;
  margin: 0;
  padding: 0;
}
.sub-heading {
  text-align: center;
  margin: 0.5rem;
  font-style: italic;
}
.sub-text {
  margin: 0;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    color: red;
  }
  to {
    opacity: 1;
    color: red;
  }
}
span {
  animation: fadeIn 0.5s infinite alternate linear;
}
figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  height: 250px;
  border-radius: 3rem;
  border: 10px solid #637a6e;
}

footer {
  display: flex;
  background-color: #637a6e;
  margin-top: 5rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  opacity: 0.5;
}
footer div {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
footer div p {
  text-wrap: nowrap;
  color: white;
}
footer img {
  width: 20px;
  height: 30px;
}
